{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1>{{ object.title|title }}</h1>
                <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                <hr />
                <div>
                    <span class='mr-2'>
                        <img src="{% static 'fonts/bootstrap-icons/chat-text.svg' %}" alt="Bootstrap" width="22" height="22"> {{ object.get_comment_count }}
                    </span>
                    <span class='mr-2'>
                        <img src="{% static 'fonts/bootstrap-icons/eye.svg' %}" alt="Bootstrap" width="22" height="22"> {{ object.get_view_count }}
                    </span>
                    <span>
                        <img src="{% static 'fonts/bootstrap-icons/hand-thumbs-up.svg' %}" alt="Bootstrap" width="22" height="22"> {{ object.get_like_count }}
                    </span>
                    <span class='float-right'>Posted {{ object.publish_date|timesince }} ago</span>
                </div>
                <hr />
                <div>
                <p>{{ object.content }}</p>
                </div>
                <hr />
                <div>
                    <h4>Enjoy this post? Give it a like</h4>
                    <a class="text-muted" href="{{ object.get_like_url }}">
                    <img src="{% static 'fonts/bootstrap-icons/hand-thumbs-up.svg' %}" alt="Bootstrap" width="22" height="22"> 
                    {{ object.get_like_count }}
                    </a>
                    <hr />
                    {% if request.user.is_authenticated %}
                        <h4>Leave a comment below</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class='btn btn-primary' type='submit'>Comment</button>
                        </form>
                        <hr />
                        <h5>Comments</h5>
                        {% for comment in object.comments %}
                            <div>
                                <p>{{ comment.content }}
                                <br />
                                <small>{{ comment.timestamp|timesince }} ago</small>
                                </p>
                            </div>
                            <hr />
                        {% endfor %}
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Login to comment</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}