{% load static i18n %}
<div class="collapse navbar-collapse" id="show-menu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">Service</a>
        </li>
        {% comment %} <li class="nav-item">
        <a class="nav-link" href="#hiw">How it's Works</a>
        </li> {% endcomment %}
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</div>